.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center{
  text-align: center;
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  margin: 5px 0;
  border-right: 4px solid green;
}
.inc-exp-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 5px;
}