.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center{
  text-align: center;
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  margin: 5px 0;
  border-right: 4px solid green;
}
.inc-exp-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
  padding: 5px;
}
.transaction-form input{
  display: block;
  width: 94%;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
}

.money.plus {
  color: #b6960a;
  font-weight: 700;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.minus {
  color: #2da3ad;
  font-weight: 700;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid #dedede;
}

.inc-exp-container>div {
  flex: 1 1;
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #b0c4de;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  margin: 10px 0 30px;
  font-weight: 700;
  padding: 10px;
  width: 100% !important;
}

.reduce-space{
  margin: 10px 0;
}